* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.container {
    width: 60%
}

/* /common */

.header {
    background-color: #add8e6;
    height: 100px;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-content {
    height: 50px;
    background-color: #daa520;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 25%;
    justify-content: left;
}

.link {
    width: 50%;
    justify-content: center;
}

.login {
    width: 25%;
    justify-content: right;
}

/* main */

/* first section */

.first-section {
    height: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section-content {
    height: 350px;
    background-color: purple;
    width: 40%;
}

/* /first section */

/* second-section */

.second-section {
    display: flex;
    height: 500px;
}

.second-row {
    display: flex;
}

.second-section-lcol {
    height: 450px;
    width: 60%;
    background-color: aqua;
    border: 1px solid black;
}

.second-section-rcol {
    height: 450px;
    width: 40%;
    background-color: pink;
    border: 1px solid black;
}

/* /second-section */